/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --primaryFont: "Poppins", sans-serif;
  --secondaryFont: "Open Sans", sans-serif;
  --primaryBTN: #007fff;
  --darkGrey: #8e8e8e;
  --mediumGrey: #5c5c5c;
  --ligthBlack: #3e3939;
  --orange: #f89c1e;
  --containerPadding: 2rem;
  --containerPaddingMobile: 0.8rem;
}

/* THIS LAYOUT IS DESKTOP FIRST APPROACH */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 220px;
}

/* Nav bar */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 80px;
}

.logo {
  width: 160px;
}

.nav-links li {
  display: inline-block;
  padding: 0 0.8rem;
}

.nav-links li > a {
  text-decoration: none;
  color: var(--ligthBlack);
  font-family: var(--secondaryFont);
  font-weight: 600;
}
/* -------------- */

/* Modal */
.modal-container {
  position: relative;
  display: none;
  animation: fadein 0.5s;
}

.modal-content {
  position: absolute;
  position: fixed;
  border-radius: 10px;
  text-align: center;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 50%);
  background: #ffff;
  padding: 1.8rem;
  box-shadow: 1px 3px 22px 5px rgba(223, 223, 223, 0.81);
  -webkit-box-shadow: 1px 3px 22px 5px rgba(216, 216, 216, 0.81);
  -moz-box-shadow: 1px 3px 22px 5px rgba(199, 199, 199, 0.81);
}

.modal-content > h1 {
  font-family: var(--primaryFont);
  color: var(--ligthBlack);
}

.close-btn {
  float: right;
  margin-right: 8px;
  width: 20px;
  cursor: pointer;
}

.modal-content > p {
  width: 520px;
  display: inline-block;
  margin-top: -8px;
  padding: 1rem 0;
  line-height: 1.8;
  font-family: var(--secondaryFont);
  color: var(--mediumGrey);
}
/* -------------- */

/* Hero section */
.hero-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me {
  width: 600px;
}

.rigth {
  margin-top: -80px;
  margin-right: 40px;
}

.sub-header {
  font-family: var(--primaryFont);
  color: var(--darkGrey);
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: -30px;
}

.emojy {
  font-size: 2rem;
}

.title {
  font-size: 3rem;
  font-family: var(--primaryFont);
  font-weight: 600;
  line-height: 1.4;
}

.hash-tags {
  font-family: var(--primaryFont);
  color: var(--darkGrey);
  margin-top: -30px;
}

.buttons {
  margin-top: 40px;
}

.btn {
  border-radius: 6px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: var(--secondaryFont);
  cursor: pointer;
}

.primary {
  background: var(--primaryBTN);
  color: white;
}

.secondary {
  margin-left: 22px;
  background: #fff;
  color: var(--primaryBTN);
  box-shadow: 0px 3px 11px 0px rgba(122, 122, 122, 0.4);
}

/* -------------- */

/* Project section */
.heading {
  text-align: center;
}

.heading > h1 {
  font-size: 2.2rem;
  font-family: var(--primaryFont);
  font-weight: 500;
}

.emojy2 {
  font-size: 2.6rem;
}

.buttons {
  display: flex;
}

.git-icon {
  width: 36px;
  margin-top: 6px;
  margin-left: 40px;
}

.heading > p {
  width: 40%;
  display: inline-block;
  margin-top: -16px;
  line-height: 1.6;
  font-family: var(--secondaryFont);
  color: var(--mediumGrey);
}

.wrapper {
  margin: 0 150px;
}

.wrapper2 {
  margin: 0 60px;
}

.project1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-title {
  font-family: var(--primaryFont);
  color: var(--mediumGrey);
  font-size: 1.8rem;
}

.orange {
  color: var(--orange);
}

.project-logo {
  width: 150px;
}

.left {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.left > p {
  width: 80%;
  font-family: var(--secondaryFont);
  color: var(--mediumGrey);
}

.project2 > .right > p {
  width: 60%;
  font-family: var(--secondaryFont);
  color: var(--mediumGrey);
}

.project2 > .right {
  margin-left: 120px;
  margin-top: -40px;
}

/* -------------- */

/* Footer */
footer {
  text-align: center;
  margin-top: 120px;
  padding: 2rem;
}

.footer-content {
  line-height: 0.8;
  padding: 2rem;
}

.footer-content > h3 {
  font-family: var(--primaryFont);
  color: var(--mediumGrey);
  font-weight: lighter;
  font-size: 1.6rem;
}

.footer-content > p {
  font-family: var(--secondaryFont);
}

span > a {
  color: var(--primaryBTN);
}

/* -------------- */

/* Animations */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* -------------- */

/* Media Queries */
@media (max-width: 1490px) {
  /* Hero sections style */
  .me {
    width: 460px;
  }

  .tile {
    font-size: 2.2rem;
  }
  /* --------- */

  /* Project Sections style */
  .project1 {
    margin: 60px 0;
  }

  .mockup {
    width: 650px;
  }

  .left > p {
    width: 100%;
    line-height: 1.6;
  }

  .project2 .right {
    margin-left: 80px;
  }

  .project2 .right > p {
    width: 80%;
    line-height: 1.6;
  }
  /* --------- */
}

@media (max-width: 1290px) {
  /* Hero sections style */
  .title {
    font-size: 2rem;
  }

  .me {
    width: 400px;
  }
  /* --------- */

  /* Project Sections style */
  .mockup {
    width: 540px;
  }

  .left > p {
    font-size: 0.9rem;
  }

  .project2 .right {
    margin-left: 0px;
  }

  .project2 .right > p {
    font-size: 0.9rem;
  }
  /* --------- */
}

@media (max-width: 1200px) {
  /* Hero sections style */
  .container {
    margin-left: 40px;
  }

  .title {
    font-size: 2.4rem;
  }

  .me {
    display: none;
  }
  /* --------- */

  /* Button style */
  .btn {
    padding: 10px 20px;
  }
  /* --------- */

  /* Project Sections style */
  .mockup {
    display: none;
  }

  .project1 {
    margin-top: 120px;
  }

  .project1 > .left {
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 3px 22px 5px rgba(223, 223, 223, 0.81);
    -webkit-box-shadow: 1px 3px 22px 5px rgba(216, 216, 216, 0.81);
    -moz-box-shadow: 1px 3px 22px 5px rgba(199, 199, 199, 0.81);
  }

  .wrapper {
    margin: 0
  }
  
  .wrapper2 {
    margin: 0
  }

  .project1 .left > p {
    width: 320px;
  }

  .project2 {
    margin-top: 140px;
    
  }

  .project2 > .right {
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 3px 22px 5px rgba(223, 223, 223, 0.81);
    -webkit-box-shadow: 1px 3px 22px 5px rgba(216, 216, 216, 0.81);
    -moz-box-shadow: 1px 3px 22px 5px rgba(199, 199, 199, 0.81);
  }

  .project2 .right > p {
    width: 320px;
  }

  .project-title {
    font-size: 1.4rem;
  }
  /* --------- */
}

@media (max-width: 1040px) {
  /* Container for nav and hero section */
  .container {
    padding: 0 80px;
  }
  /* --------- */
}

@media (max-width: 790px) {
  /* Container for nav and hero section */
  .container {
    padding: 0;
  }
  /* --------- */

  /* Nav Bar style */
  .hide-mobile {
    display: none;
  }

  .nav-icon {
    width: 26px;
  }
  /* ------- */

  /* Modal style */
  .modal-content {
    padding: 1.2rem;
  }

  .modal-content > h1 {
    font-size: 1.6rem;
  }

  .modal-content > p {
    width: 320px;
    font-size: 0.8rem;
  }

  .close-btn {
    width: 14px;
  }
  /* ------ */

  /* Footer */
  footer {
    padding: 0;
  }

  .footer-content {
    line-height: 1.2;
    margin-left: -40px;
  }
  /* ------- */
}

@media (max-width: 478px) {
  /* Nav Bar style */
  .nav-links li {
    padding: 0;
  }
  /* ------- */

  /* Hero section style*/
  .hero-content {
    margin-top: -60px;
  }

  .sub-header {
    font-size: 1rem;
  }

  .title {
    font-size: 2.1rem;
  }
  /* -------- */

  /* Projects section style */
  .heading > h1 {
    font-size: 1.8rem;
    width: 280px;
    display: inline-block;
  }

  .heading > p {
    width: 300px;
  }

  .project1 .left {
    padding: 1.2rem;
  }
  
  .project1 .left .project-logo {
    width: 96px;
  }

  .project1 .left > p {
    font-size: 0.8rem;
  }

  .project2 .right {
    padding: 1.2rem;
  }

  .project-title {
    font-size: 1.4rem;
  }

  .project2 .right > p {
    font-size: 0.8rem;
  }
  /* -------- */
}
